In [1]:
# Importing neccessary Libraries
import numpy as np
import pandas as pd

In [2]:
# Reading the CSV dataset
df=pd.read_csv("dataset/Dealer_Export.csv")

#Creating a copy of the dataset
df2=df.copy()

In [3]:
# Defined a function to clean the pacakge info
def package_structure(x):
    # First check if the value is NaN
    if pd.isna(x):
        return "No Package Info"
    # Ensure x is a string before using string operations
    x= str(x) # Convert to string to safely use 'in' or 'startswith'
    if "Level 0" in x:
        return "CZ Level 0 Package"
    elif "Level 1" in x:
        return "CZ Level 1 Package"
    elif "Level 2" in x:
        return "CZ Level 2 Package"
    elif "Level 3" in x:
        return "CZ Level 3 Package"
    elif "Level 4" in x:
        return "CZ Level 4 Package"
    elif x.startswith('Accelerate'):
        return "CZ Accelerate Package"
    elif x.startswith('Ignite'):
        return "CZ Ignite Package"
    elif x.startswith('Rev'):
        return "CZ Rev Package"
    else:
        return "Other Package"

In [4]:
# Data exploration
print(f'The shape of the imported data set is: {df.shape}\n')
print(f'The imported dataset has following data types:\n {df.dtypes}\n')
print(f'The dataset has following count of null values:\n{df.isna().sum()}\n')

# Printing the top 5 records of the dataset
df.head()

The shape of the imported data set is: (418757, 18)

The imported dataset has following data types:
 did                   int64
trading_name         object
county               object
provinces            object
franchise_status     object
aa_approved          object
cartell_checked      object
package              object
created_date         object
make                 object
model                object
vehicle_condition    object
reg_code              int64
fuel_type            object
body_type            object
transmission_type    object
price                 int64
stock_count           int64
dtype: object

The dataset has following count of null values:
did                     0
trading_name         8526
county                  0
provinces               0
franchise_status        0
aa_approved             0
cartell_checked         0
package              9799
created_date            0
make                    0
model                   2
vehicle_condition       0
reg_code                0
fuel_type               0
body_type               0
transmission_type       0
price                   0
stock_count             0
dtype: int64

,did,trading_name,county,provinces,franchise_status,aa_approved,cartell_checked,package,created_date,make,model,vehicle_condition,reg_code,fuel_type,body_type,transmission_type,price,stock_count
0,1000,GGTT Motors,Antrim,Ulster,Non-Franchise,N,N,NaN,15/01/2024 00:00,Nissan,Qashqai +2,used,2014,Diesel,MPV,Manual,10000,1
1,1000,GGTT Motors,Meath,Leinster,Non-Franchise,N,N,NaN,08/02/2024 00:00,AC,302,used,2020,Bio Fuel,Coupe,Automatic,95000,1
2,1000,GGTT Motors,Meath,Leinster,Non-Franchise,N,N,NaN,21/02/2024 00:00,Opel,Combo,used,2009,Diesel,Van,Manual,0,1
3,1000,GGTT Motors,Meath,Leinster,Non-Franchise,N,N,NaN,23/02/2024 00:00,Ford,Transit Courier,used,2017,Diesel,Van,Manual,98000,1
4,1000,GGTT Motors,Meath,Leinster,Non-Franchise,N,N,NaN,29/02/2024 00:00,Maserati,MC20,used,2009,Diesel Plug-in Hybrid,Other,Automatic,0,1

In [5]:
# Dropping rows having null values and storing the output the same dataset
df.dropna(subset=["trading_name"], inplace=True)

print(f'The modified dataset has following count of null values:\n{df.isna().sum()}\n')

The modified dataset has following count of null values:
did                     0
trading_name            0
county                  0
provinces               0
franchise_status        0
aa_approved             0
cartell_checked         0
package              1273
created_date            0
make                    0
model                   2
vehicle_condition       0
reg_code                0
fuel_type               0
body_type               0
transmission_type       0
price                   0
stock_count             0
dtype: int64

In [6]:
# Checking if there are any duplicate rows in the dataset
print(f'The dataset has following duplicate values:\n {df.duplicated().sum()}\n')

# Checking the unique values in the dataset
print(f'The dataset has following representation of unique values:\n {df.nunique()}\n')

The dataset has following duplicate values:
 0

The dataset has following representation of unique values:
 did                    812
trading_name           806
county                  27
provinces                4
franchise_status         2
aa_approved              2
cartell_checked          2
package                115
created_date           360
make                   100
model                  928
vehicle_condition        2
reg_code                63
fuel_type               12
body_type               48
transmission_type        5
price                13300
stock_count             23
dtype: int64

In [7]:
# Correcting the data types for certain columns
df['did'] = df['did'].astype('object')
df['reg_code']=df['reg_code'].astype('object')
df['created_date']=pd.to_datetime(df['created_date'])

print(f'The modified dataset has following data types:\n {df.dtypes}\n')

The modified dataset has following data types:
 did                          object
trading_name                 object
county                       object
provinces                    object
franchise_status             object
aa_approved                  object
cartell_checked              object
package                      object
created_date         datetime64[ns]
make                         object
model                        object
vehicle_condition            object
reg_code                     object
fuel_type                    object
body_type                    object
transmission_type            object
price                         int64
stock_count                   int64
dtype: object

D:\Users\raj.kupekar\AppData\Local\Temp\1\ipykernel_8304\277483976.py:4: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['created_date']=pd.to_datetime(df['created_date'])

In [8]:
# Adding two new columns for Ad Created Month-Year & Package Redefining
df['ad_created_in']=df['created_date'].dt.strftime('%b, %Y')
df['package_redefined'] = df['package'].apply(package_structure)

In [9]:
# Dropping unwanted columns from the data frame
df.drop(columns=['package','created_date'], inplace=True)

# Displaying the final dataset head
df.head()

,did,trading_name,county,provinces,franchise_status,aa_approved,cartell_checked,make,model,vehicle_condition,reg_code,fuel_type,body_type,transmission_type,price,stock_count,ad_created_in,package_redefined
0,1000,GGTT Motors,Antrim,Ulster,Non-Franchise,N,N,Nissan,Qashqai +2,used,2014,Diesel,MPV,Manual,10000,1,"Jan, 2024",No Package Info
1,1000,GGTT Motors,Meath,Leinster,Non-Franchise,N,N,AC,302,used,2020,Bio Fuel,Coupe,Automatic,95000,1,"Feb, 2024",No Package Info
2,1000,GGTT Motors,Meath,Leinster,Non-Franchise,N,N,Opel,Combo,used,2009,Diesel,Van,Manual,0,1,"Feb, 2024",No Package Info
3,1000,GGTT Motors,Meath,Leinster,Non-Franchise,N,N,Ford,Transit Courier,used,2017,Diesel,Van,Manual,98000,1,"Feb, 2024",No Package Info
4,1000,GGTT Motors,Meath,Leinster,Non-Franchise,N,N,Maserati,MC20,used,2009,Diesel Plug-in Hybrid,Other,Automatic,0,1,"Feb, 2024",No Package Info

In [12]:
# Saving the pre-processed dataset back to the dataset folder
df.to_csv('dataset/dealer_export_cleaned.csv')